* {
    padding: 0;
    margin: 0;
}

:root {
    --nav-bg: #151515;
    --nav-bg: #2196f3;

    --primary: #2196f3;
    --primary0: #e3f2fd;
    --primary1: #bbdefb;
    --primary2: #90caf9;
    --primary3: #64b5f6;
    --primary4: #42a5f5;
    --primary5: #2196f3;
    --primary6: #1e88e5;
    --primary7: #1976d2;
    --primary8: #1565c0;
    --primary9: #0d47a1;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    user-select: none;
    letter-spacing: 1px;
    background: repeating-linear-gradient(45deg, rgba(112, 112, 112, 0.12) 0px, rgba(112, 112, 112, 0.12) 42px, rgba(105, 105, 105, 0.12) 42px, rgba(105, 105, 105, 0.12) 83px, rgba(206, 206, 206, 0.12) 83px, rgba(206, 206, 206, 0.12) 103px, rgba(130, 130, 130, 0.12) 103px, rgba(130, 130, 130, 0.12) 125px, rgba(51, 51, 51, 0.12) 125px, rgba(51, 51, 51, 0.12) 174px, rgba(220, 220, 220, 0.12) 174px, rgba(220, 220, 220, 0.12) 199px),
        repeating-linear-gradient(45deg, rgba(192, 192, 192, 0.12) 0px, rgba(192, 192, 192, 0.12) 13px, rgba(119, 119, 119, 0.12) 13px, rgba(119, 119, 119, 0.12) 29px, rgba(157, 157, 157, 0.12) 29px, rgba(157, 157, 157, 0.12) 75px, rgba(223, 223, 223, 0.12) 75px, rgba(223, 223, 223, 0.12) 121px, rgba(80, 80, 80, 0.12) 121px, rgba(80, 80, 80, 0.12) 169px, rgba(208, 208, 208, 0.12) 169px, rgba(208, 208, 208, 0.12) 194px),
        repeating-linear-gradient(45deg, rgba(44, 44, 44, 0.1) 0px, rgba(44, 44, 44, 0.1) 147px, rgba(38, 38, 38, 0.1) 147px, rgba(38, 38, 38, 0.1) 248px, rgba(1, 1, 1, 0.1) 248px, rgba(1, 1, 1, 0.1) 325px, rgba(34, 34, 34, 0.1) 325px, rgba(34, 34, 34, 0.1) 434px, rgba(98, 98, 98, 0.1) 434px, rgba(98, 98, 98, 0.1) 534px, rgba(79, 79, 79, 0.1) 534px, rgba(79, 79, 79, 0.1) 630px), linear-gradient(90deg, var(--primary4), var(--primary7));
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden !important;
    overflow-y: auto;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../images/me.jpg");
}

.box {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.box.screenshot-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-gap: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.box .title {
    grid-area: 1/1/2/4;
    text-align: center;
    padding: 10px 0px;
    font-size: 30px;
    font-weight: 500;
    color: #000000;
}

.box .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.box .image:nth-child(2) {
    background-image: url("../images/screenshots/screenshot-1.png");
}

.box .image:nth-child(3) {
    background-image: url("../images/screenshots/screenshot-2.png");
}

.box .image:nth-child(4) {
    background-image: url("../images/screenshots/screenshot-3.png");
}

.box .image:nth-child(5) {
    background-image: url("../images/screenshots/screenshot-4.png");
}

.box .image:nth-child(6) {
    background-image: url("../images/screenshots/screenshot-5.png");
}

.box .image:nth-child(7) {
    background-image: url("../images/screenshots/screenshot-6.png");
}

.box .button {
    grid-area: 4/1/5/4;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.box .button:hover {
    text-decoration: underline;
}

.nav {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow: hidden;
    z-index: 100;
    /* background: var(--nav-bg); */
    /* box-shadow: 0px 0px 10px 1px #000000; */
}

.nav .nav-menu {
    width: 100%;
    height: auto;
    flex-direction: row;
    vertical-align: middle;
    position: relative;
    /* background: var(--nav-bg); */
}

.nav .nav-menu .title {
    height: auto;
    vertical-align: middle;
    float: left;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 22px;
    font-weight: 500;
    transform: translateY(-50%);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav .nav-menu .icon {
    width: 50px;
    height: 50px;
    float: right;
    vertical-align: middle;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiA8cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJtNCwxMGwyNCwwYzEuMTA0LDAgMiwtMC44OTYgMiwtMnMtMC44OTYsLTIgLTIsLTJsLTI0LDBjLTEuMTA0LDAgLTIsMC44OTYgLTIsMnMwLjg5NiwyIDIsMnptMjQsNGwtMjQsMGMtMS4xMDQsMCAtMiwwLjg5NiAtMiwyczAuODk2LDIgMiwybDI0LDBjMS4xMDQsMCAyLC0wLjg5NiAyLC0ycy0wLjg5NiwtMiAtMiwtMnptMCw4bC0yNCwwYy0xLjEwNCwwIC0yLDAuODk2IC0yLDJzMC44OTYsMiAyLDJsMjQsMGMxLjEwNCwwIDIsLTAuODk2IDIsLTJzLTAuODk2LC0yIC0yLC0yeiI+PC9wYXRoPgo8L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    cursor: pointer;
}

.hidden-menu .nav .nav-menu .icon {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiA8cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJtNCwxMGwyNCwwYzEuMTA0LDAgMiwtMC44OTYgMiwtMnMtMC44OTYsLTIgLTIsLTJsLTI0LDBjLTEuMTA0LDAgLTIsMC44OTYgLTIsMnMwLjg5NiwyIDIsMnptMjQsNGwtMjQsMGMtMS4xMDQsMCAtMiwwLjg5NiAtMiwyczAuODk2LDIgMiwybDI0LDBjMS4xMDQsMCAyLC0wLjg5NiAyLC0ycy0wLjg5NiwtMiAtMiwtMnptMCw4bC0yNCwwYy0xLjEwNCwwIC0yLDAuODk2IC0yLDJzMC44OTYsMiAyLDJsMjQsMGMxLjEwNCwwIDIsLTAuODk2IDIsLTJzLTAuODk2LC0yIC0yLC0yeiI+PC9wYXRoPgo8L3N2Zz4=") !important;
}

.nav .nav-item {
    width: 100%;
    color: #e0e0e0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    padding: 12px 0px;
    white-space: nowrap;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.nav .nav-item:not(.nav-active):hover {
    cursor: pointer;
    color: #ffffff;
}

.nav .nav-active {
    font-weight: 500;
    color: var(--nav-bg) !important;
    text-shadow: 0px 0px 0px transparent !important;
}

.auto-box {
    width: 100%;
    height: auto;
    min-height: 100vh;
    box-shadow: 0px 0px 10px 1px #000000;
    background: #ffffff;
}

.flex-list {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}

.flex-list .flex-item {
    margin: 20px 30px;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: row;
}

.flex-list .flex-item:nth-child(odd) {
    flex-flow: row;
}

.flex-list .flex-item:nth-child(even) {
    flex-flow: row-reverse;
}

.flex-list .flex-item .image {
    width: 60vmin;
    height: 60vmin;
    margin: 10px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    clip-path: circle(20% at 50% 50%);
    transition: clip-path 0.3s ease-in;
    animation: move 10s ease-in-out infinite alternate;
}

.flex-list .flex-item .image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/overlay.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-list .animated-box .image {
    clip-path: circle(100% at 50% 50%) !important;
}

.flex-list .flex-item .desc {
    margin: 10px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-list .flex-item .desc .title {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 15px;
    color: var(--primary5);
}

.flex-list .flex-item .desc .sub-title {
    text-align: justify;
    font-size: 18px;
    line-height: 33px;
    color: rgba(0, 0, 0, 0.6);
}

.sub-title sup {
    font-size: 18px;
    line-height: 15px;
}

.sub-title a {
    color: #606060;
}

.sub-title a:hover {
    color: #2196f3;
    text-decoration: none;
}

.flex-list .flex-item:nth-child(1) .image {
    background-image: url("../images/coding.jpg");
}

.flex-list .flex-item:nth-child(2) .image {
    background-image: url("../images/web-dev.jpg");
}

.flex-list .flex-item:nth-child(3) .image {
    background-image: url("../images/ui-design.jpg");
}

.flex-list .flex-item:nth-child(4) .image {
    background-image: url("../images/competitive-coding.jpg");
}

.flex-list .flex-item:nth-child(5) .image {
    background-image: url("../images/projects.jpg");
}

@keyframes move {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

.footer {
    height: auto;
    width: 100%;
    color: #ffffff;
    background: #212121;
    box-shadow: 0px 0px 10px 1px #000000;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    box-sizing: border-box;
}

.footer > * {
    height: auto;
}

.footer .about,
.footer .contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 20px;
}

.footer .about,
.footer .contact {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer .title {
    color: #ffffff;
    padding: 10px 0px;
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 2px;
    word-spacing: 5px;
    position: relative;
    z-index: 1;
}

.footer .title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s;
    border-bottom: 2px solid #2196f3;
    width: 0%;
    height: 100%;
    z-index: 0;
}

.footer > *:hover .title::before {
    width: 80%;
}

.footer .about .sub-title {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
}

.footer .table {
    display: inline-table;
    width: min-content;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.footer .table .tr {
    display: table-row;
}

.footer .table .td {
    line-height: 25px;
    display: table-cell;
}

.footer .table .td:first-child {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    padding: 10px 0px;
    letter-spacing: 2px;
}

.footer .table .td:nth-child(2) {
    width: 20%;
    text-align: center;
}

.footer .table .td:not(:first-child) {
    color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    font-weight: 300;
}

.footer .contact {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.footer a:hover {
    text-decoration: underline;
    color: var(--primary3);
}

@media (min-width: 650px) {
    .nav {
        flex-direction: row;
    }

    .nav .nav-menu .icon {
        display: none;
    }

    .nav .nav-item {
        width: auto;
        padding: 12px;
    }
}

@media (min-width: 720px) {
    .nav .nav-item {
        padding: 12px 15px;
        /* margin: 0px 10px; */
    }
}

@media (max-width: 649px) {
    body::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .nav {
        box-shadow: 0px 0px 0px 0px transparent;
        background: transparent;
        border-bottom: 0px solid transparent;
    }

    .nav .nav-menu {
        border-bottom: 0px solid transparent;
    }

    .nav .nav-item:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    }

    .nav .nav-active {
        background: #ffffff !important;
    }

    body:not(.hidden-menu) .nav .nav-item {
        transform: translateX(0%);
    }

    body.hidden-menu .nav .nav-item {
        transform: translateX(100%);
    }

    .nav .nav-item {
        background: rgba(0, 0, 0, 0.6);
        color: #ffffff;
    }

    .nav .nav-item:nth-child(2) {
        transition-delay: 0s;
    }

    .nav .nav-item:nth-child(3) {
        transition-delay: 0.1s;
    }

    .nav .nav-item:nth-child(4) {
        transition-delay: 0.2s;
    }

    .nav .nav-item:nth-child(5) {
        transition-delay: 0.3s;
    }

    .nav .nav-item:nth-child(6) {
        transition-delay: 0.4s;
    }

    .nav .nav-item:nth-child(7) {
        transition-delay: 0.5s;
    }

    .flex-list .flex-item .desc .sub-title {
        column-gap: 20px !important;
    }

    .box.screenshot-container {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto repeat(6, 1fr) auto !important;
        grid-gap: 20px !important;
        padding: 10px !important;
        height: auto;
    }

    .box.screenshot-container .title {
        grid-area: 1/1/2/2;
    }

    .box.screenshot-container .image {
        min-height: 250px;
    }

    .box.screenshot-container .button {
        grid-area: 8/1/9/2;
    }
}

@media (max-width: 900px) {
    .flex-list .flex-item {
        flex-direction: column;
        margin: 10px 15px;
        padding: 10px;
        align-items: center;
    }

    .flex-list .flex-item .image {
        width: 82vmin;
        height: 82vmin;
        margin: 0;
    }

    .flex-list .flex-item .desc {
        margin: 30px 0px;
    }

    .flex-list .flex-item .desc .sub-title {
        font-size: 16px;
        columns: 2;
        column-gap: 40px;
    }

    .flex-list .flex-item:nth-child(odd),
    .flex-list .flex-item:nth-child(even) {
        flex-flow: column;
    }
}

@media (min-width: 1100px) {
    .footer {
        flex-direction: row;
    }

    .footer > * {
        width: 100%;
    }

    .footer .about {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 0px solid transparent;
    }

    .footer .contact {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 0px solid transparent;
    }
}

@media (max-width: 1099px) {
    .footer > * {
        margin: 20px;
    }

    .footer .about {
        padding: 10px 50px 60px 50px !important;
    }

    .footer .contact {
        padding: 10px 50px 50px 50px !important;
    }
}

@media (max-width: 500px) {
    .footer .about {
        padding: 30px 15px !important;
    }

    .footer .contact {
        padding: 30px 5px !important;
    }

    .footer .table {
        width: 100%;
    }

    .footer .table .tr {
        display: block;
        padding: 10px;
    }

    .footer .table .td {
        display: block;
    }

    .footer .table .td:first-child {
        color: rgba(255, 255, 255, 0.9);
    }

    .footer .table .td:last-child {
        font-size: 14px;
        padding: 0px;
        word-break: break-all;
    }

    .footer .table .td:nth-child(2) {
        display: none;
    }

    .sub-left,
    .sub-right {
        margin: 0 !important;
    }

    .flex-list .flex-item .desc .sub-title {
        columns: initial;
    }

    .desc .title {
        text-align: center;
    }

    .flex-item {
        margin: 5px;
    }
}

@media (max-width: 250px) {
    .footer > * {
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .flex-item {
        margin: 0px !important;
    }
}
